
*.pdf
*.pdf
2 2/figure/anim-1.pdf
2 2/figure/anim-10.pdf
2 2/figure/anim-2.pdf
2 2/figure/anim-3.pdf
2 2/figure/anim-4.pdf
2 2/figure/anim-5.pdf
2 2/figure/anim-6.pdf
2 2/figure/anim-7.pdf
2 2/figure/anim-8.pdf
2 2/figure/anim-9.pdf
2 2/figure/anim_BBand_n-1.pdf
2 2/figure/anim_BBand_n-2.pdf
2 2/figure/anim_BBand_n-3.pdf
2 2/figure/anim_BBand_n-4.pdf
2 2/figure/anim_BBand_n-5.pdf
2 2/figure/anim_BBand_n-6.pdf
2 2/figure/anim_BBand_n-7.pdf
2 2/figure/anim_BBand_n-8.pdf
2 2/figure/anim_BBand_sd-1.pdf
2 2/figure/anim_BBand_sd-2.pdf
2 2/figure/anim_BBand_sd-3.pdf
2 2/figure/anim_BBand_sd-4.pdf
2 2/figure/anim_BBand_sd-5.pdf
2 2/figure/anim_BBand_sd-6.pdf
2 2/figure/anim_BBand_sd-7.pdf
2 2/figure/anim_BBand_sd-8.pdf
2 2/figure/anim_MACD_fast-1.pdf
2 2/figure/anim_MACD_fast-2.pdf
2 2/figure/anim_MACD_fast-3.pdf
2 2/figure/anim_MACD_fast-4.pdf
2 2/figure/anim_MACD_fast-5.pdf
2 2/figure/anim_MACD_fast-6.pdf
2 2/figure/anim_MACD_fast-7.pdf
2 2/figure/anim_MACD_slow-1.pdf
2 2/figure/anim_MACD_slow-2.pdf
2 2/figure/anim_MACD_slow-3.pdf
2 2/figure/anim_MACD_slow-4.pdf
2 2/figure/anim_MACD_slow-5.pdf
2 2/figure/anim_MACD_slow-6.pdf
2 2/figure/anim_MACD_slow-7.pdf
2 2/figure/anim_pred-1.pdf
2 2/figure/anim_pred-10.pdf
2 2/figure/anim_pred-2.pdf
2 2/figure/anim_pred-3.pdf
2 2/figure/anim_pred-4.pdf
2 2/figure/anim_pred-5.pdf
2 2/figure/anim_pred-6.pdf
2 2/figure/anim_pred-7.pdf
2 2/figure/anim_pred-8.pdf
2 2/figure/anim_pred-9.pdf
2 2/figure/anim_SMI-1.pdf
2 2/figure/anim_SMI-2.pdf
2 2/figure/anim_SMI-3.pdf
2 2/figure/anim_SMI-4.pdf
2 2/figure/anim_SMI-5.pdf
2 2/figure/anim_SMI-6.pdf
2 2/figure/anim_SMI-7.pdf
2 2/figure/anim_stl_sen-1.pdf
2 2/figure/anim_stl_sen-2.pdf
2 2/figure/anim_stl_sen-3.pdf
2 2/figure/anim_stl_sen-4.pdf
2 2/figure/anim_stl_sen-5.pdf
2 2/figure/anim_stl_sen-6.pdf
2 2/figure/anim_stl_sen-7.pdf
2 2/figure/anim_stl_sen-8.pdf
2 2/figure/anim_stl_sen-9.pdf
2 2/figure/anim_stl_tren-1.pdf
2 2/figure/anim_stl_tren-2.pdf
2 2/figure/anim_stl_tren-3.pdf
2 2/figure/anim_stl_tren-4.pdf
2 2/figure/anim_stl_tren-5.pdf
2 2/figure/anim_stl_tren-6.pdf
2 2/figure/anim_stl_tren-7.pdf
2 2/figure/anim_stl_tren-8.pdf
2 2/figure/anim_stl_tren-9.pdf
2 2/figure/unnamed-chunk-11-1.pdf
2 2/figure/unnamed-chunk-12-1.pdf
2 2/figure/unnamed-chunk-13-1.pdf
2 2/figure/unnamed-chunk-14-1.pdf
2 2/figure/unnamed-chunk-17-1.pdf
2 2/figure/unnamed-chunk-18-1.pdf
2 2/figure/unnamed-chunk-19-1.pdf
2 2/figure/unnamed-chunk-2-1.pdf
2 2/figure/unnamed-chunk-20-1.pdf
2 2/figure/unnamed-chunk-21-1.pdf
2 2/figure/unnamed-chunk-22-1.pdf
2 2/figure/unnamed-chunk-24-1.pdf
2 2/figure/unnamed-chunk-3-1.pdf
2 2/figure/unnamed-chunk-4-1.pdf
2 2/figure/unnamed-chunk-5-1.pdf
2 2/figure/unnamed-chunk-7-1.pdf
2 2/figure/unnamed-chunk-8-1.pdf
2 2/Spr-2.log
2 2/Spr-2.tex
3/Spraw3.log
3/Spraw3.tex
*.log
*.RData
*.rdb
*.rdx
*.RData
4/Spraw4_cache/latex/__packages
*.pdf
*.pdf
2 2/figure/anim-3.pdf
